# pythonLibs Requirements
requests
PyYaml
pytz
pytz-convert
user-agents
numpy
pandas
sklearn
stringcase
IPy
colorlog
beautifulsoup4
xlsxwriter
geoip2
regex
pysocks
urllib3
scikit-learn
setuptools
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
selenium
elasticsearch
sqlalchemy
iso8601
xmltodict
scraperapi-sdk
google-cloud-translate
langdetect
simplejson
pykeepass
art
flask
svglib